.Botao {
    background-color: var(--verde);
    border: 1px solid var(--preto);
    color: var(--cinza);
    padding: 0.25rem 0.75rem;
    cursor: pointer;
}

.Botao[tipo="primario"] {
    background-color: var(--verde);
}

.Botao[tipo="secundario"] {
    background-color: var(--rosa);
}